/rally
!/.laps/*
/.rally/*
!/.rally/.gitignore
!/.rally/README.md
!/.rally/config.toml
!/.rally/summary.jsonl
!/.rally/agents/
!/.rally/agents/*.md

# temporary as otherwise causes error with rally 0.8.0
!/.rally/agent_status.jsonl

scratchpad.md

/tmp/*
