/rally
!/.laps/*
/.rally/*
!/.rally/.gitignore
!/.rally/README.md
!/.rally/config.toml
!/.rally/summary.jsonl
!/.rally/agents/
!/.rally/agents/*.md

# add exceptions for any config that may live under here
/.antigravitycli/*

scratchpad.md

/tmp/*
